
.off{

     display: none;
}


.asistent-number div {
     flex-direction: row;
     position: absolute;
     bottom: 0;
     width: 90%;
    

}

.asistent-number i{
    
   font-size: 1.5rem;
   color:var(--color-icon);

}

/* ===================== MEDIA QUERIES CREATE EVENTS ===================== */

/* Móvil */
@media (max-width: 768px) {
     .asistent-number div {
          width: 95%;
     }

     .asistent-number i {
          font-size: 1.2rem;
     }
}

/* Móvil pequeño */
@media (max-width: 480px) {
     .asistent-number i {
          font-size: 1rem;
     }
}

