.events-container {

  padding: var(--spacing-medium);
  border-radius: var(--border-radius-big);
  background-color: var(--background-color-transparent);
  /* background-image: url('/assets/events-icon.svg');
  background-size: 45px;
  background-position: center;
  background-repeat: repeat; */
  width: 100%;
  flex-direction: row;
  flex-wrap: wrap;
}


h2 {

  padding: 300px 0 50px;
}

.nav-events-type-menu, .nav-events-user-menu {

  margin-top: 200px;
  width: 100%;
  max-width: 1300px;

}

.events-type-menu, .events-user-menu {

  width: 100%;
  height: max-content;
  max-width: 1300px;
  flex-direction: row;
  background: var(--background-color-transparent);

  font-family: var(--font-regulat-itim);
  gap: var(--spacing-small);
  border-radius: var(--border-radius-big);
  box-shadow: var(--box-shadow);
  padding: var(--spacing-little-bit) var(--spacing-small);
}

.events-type-menu li, .events-user-menu li {
  margin: var(--spacing-little-bit) 0;
  background: var(--background-color);
  border: 1px solid var(--light-gray-slow);
  font-family: var(--font-regulat-itim);
  gap: var(--spacing-small);
  border-radius: var(--border-radius-big);
  box-shadow: var(--box-shadow);
  padding: .5rem;
  font-family: var(--font-regulat-itim);
  cursor: pointer;
  

}

.grid-events {

 min-width: 30rem ;

}

.grid-main,
.user-type-events {


  margin-top: 0;

}

/* Infinite scroll sentinel */
.infinite-scroll-sentinel {
  width: 100%;
  height: 1px;
  visibility: hidden;
}

/* Loading indicator para infinite scroll */
.events-container::after {
  content: '';
  display: block;
  width: 100%;
}
