.events-container {

  padding: var(--spacing-medium);
  border-radius: var(--border-radius-big);
  background-color: var(--background-color-transparent);
  background-image: url('/assets/events-icon.svg');
  background-size: 45px;
  background-position: center;
  background-repeat: repeat;
  width: 100%;
  flex-wrap: nowrap;
}

.events-container .event-card:first-child {
  margin-top: 30px;

}


h2 {

  padding: 300px 0 50px;
}









