

.grid-events  img,
.div-passes  img,
.div-grid-passes  img {

     width: 100%;
     aspect-ratio: 16 / 16;
     border-radius: var(--border-radius-small);
}


.text-events,
.text-passes,
.text-grid-passes {

     box-shadow: var(--box-shadow);
     border-radius: var(--border-radius-small);
     font-family: var(--font-regulat-itim);
     background-color: var(--background-color);
     width: 100%;
     text-align: left;
}

.text-events h2,
.text-passes h2,
.text-grid-passes h2 {
     
     padding: var(--spacing-medium) ;
     box-shadow: var(--box-shadow);
     border-radius: var(--border-radius-small);
     font-family: var(--font-regulat-itim);
     color: var(--text-shadow);
     width: 100%;

}

