.grid-events,
.div-passes {

     height: min-content;

}


.grid-events img,
.div-passes img {

     width: 100%;
     aspect-ratio: 16 / 16;
     height: min-content;
     border-radius: var(--border-radius-small);
}


.text-events,
.text-passes {


     padding: var(--spacing-little-bit);
     box-shadow: var(--box-shadow);
     border-radius: var(--border-radius-small);
     font-family: var(--font-regulat-itim);
     background-color: var(--background-color);
     width: 100%;
}

.text-events h2,
.text-passes h2 {

     padding: var(--spacing-medium) var(--spacing-large);
     box-shadow: var(--box-shadow);
     border-radius: var(--border-radius-small);
     font-family: var(--font-regulat-itim);
     color: var(--text-shadow);
     width: 100%;
}