.select-card .select-card > div:first-child,
.select-card .select-card>.icon-row:first-child>i {
   
     font-size: 2.5rem;
     font-weight: bold;
     justify-self: center;
     gap: 1rem;
    
}
.select-card .select-card>.icon-row:first-child>i {
   
   color:var(--background-color);
   border-radius:100%;
   border: 1px solid var(--black-matte);
   padding:0 .6rem ;
   background:var(--text-color)
    
}

.select-card .select-card>.icon-row:first-child>span {

    
     padding-bottom: 10px;
}

.icon-row {

     flex-direction: row;
     justify-content: flex-start;
     gap: 2rem;
}

.number-tickets {
     width: 60px;
     height: 100%;
     padding: 8px;
     border: none;
     text-align: center;
}

.add-passes-container{

     flex-direction: row;
}

.error-message{

     display:none;
     position: absolute;
     bottom:5px;
     left: 30%;
     color: red;
     font-size: 1rem;

};

.error {

     display: block;
}

.pass-unavailable {
     opacity: 0.7;
     filter: grayscale(50%);
     position: relative;
}

.pass-unavailable::after {
     content: "No disponible";
     position: absolute;
     top: 50%;
     left: 50%;
     transform: translate(-50%, -50%);
     background-color: rgba(255, 0, 0, 0.7);
     color: white;
     padding: 5px 10px;
     border-radius: 5px;
     font-weight: bold;
}