.login-register-page {

  min-height: 100vh;
}


.login-register-page .create-form {
  padding: 2rem;
  border-radius: 10px;
  box-shadow: 0 0 20px var(--box-shadow);
}

.login-register-page .create-form .button:hover {
  box-shadow: 0 0 10px var(--neon-magenta), 0 0 20px var(--neon-magenta);
}

.register-login-group {
  margin-top: 200px;
  background: var(--background-color);
  padding: var(--spacing-little-bit);
  border-radius: var(--border-radius-big);
  box-shadow: var(--box-shadow);
  width: 100%;
  max-width: 400px;
  border: 1px solid var(--light-gray);
  color: var(--text-color);
}

.register-login-group h2 {
  color:var(--text-color);
  padding: var(--spacing-little-bit);
}

.register-login-container {
 
  background-color: var(--background-color);
      background-image: url('/assets/events-icon.svg');
        background-size: 45px;
        background-position: center;
        background-repeat: repeat;
  width: 100%;
  min-height: 100vh;
  top:200px;
  padding: var(--spacing-large);

}