.event-card {
     background-color: var(--background-color);
     border: 1px solid var(--light-gray);
     border-radius: 8px;
     box-shadow: var(--box-shadow);
     max-width: 500px;
     height: auto;
     overflow: hidden;
     text-align: center;
     transition: transform 0.3s ease;
     position: relative;
     gap: 0;
     

     &:hover{

          box-shadow: var(--hover-shadow);
        
     }
}



.text-container {
     margin-bottom: var(--padding-little-bit);
     padding: var(--spacing-little-bit);
     width: 99%;
     box-shadow: var(--box-shadow);
     border-bottom-left-radius: var(--border-radius-small);
     border-bottom-right-radius: var(--border-radius-small);
     cursor: pointer;

     &:hover {
     
               box-shadow: var(--box-shadow-inset);
     
          }
              
}


.event-image {
     width: 100%;
     aspect-ratio: 16 / 9;
     object-fit: cover;
     padding: var(--padding-little-bit);
     border-top-left-radius: 8px;
     border-top-right-radius: 8px;
    
     
     
}

.event-name {
     font-size: 1.2rem;
     margin: 10px 0 5px;
     color: var(--text-color);
     text-shadow: var(--text-shadow);
}

.type-container {

     flex-direction: row;
     justify-content: space-between;
     padding: var(--spacing-little-bit);
   
}

.type-container span {

     border: var(--border-slim);
     box-shadow: var(--box-shadow-inset);
     border-radius: var(--border-radius-big);
     padding: 0 5px;
}

.event-type,
.event-city,
.event-date {
     font-size: 1.2rem;
     color: var(--text-color);
     font-weight: 400;
     margin: 5px 0;
}

.event-type {
     
     color:var(--light-gray);
     background-color:var(--dark-gray);
     padding: 5px;
     box-shadow: var(--box-shadow-6);
     width: max-content;
     border-radius: 8px;
}

