.event-card {
     background-color: var(--white-neon);
     border: 1px solid var(--light-gray);
     border-radius: 8px;
     box-shadow: var(--box-shadow-2);
     width: 50%;
     max-width: 500px;
     height: auto;
     overflow: hidden;
     text-align: center;
     transition: transform 0.3s ease;
     position: relative;
}

.text-container {
      
     
     padding: var(--padding-little-bit);
     background: var(--light-gray-slow);
     padding: 5px;
          

}

.event-card:hover {
     transform: scale(1.01);
}

.event-image {
     width: 100%;
     aspect-ratio: 16 / 9;
     object-fit: cover;
     padding: var(--padding-little-bit);
     border-top-left-radius: 8px;
     border-top-right-radius: 8px;
     box-shadow: var(--box-shadow-1);
}

.event-name {
     font-size: 1.2rem;
     margin: 10px 0 5px;
     color: var(--black-matte)
}

.event-type,
.event-city,
.event-date {
     font-size: 1.2rem;
     color: var(--dark-gray);
     font-weight: 400;
     margin: 5px 0;
}

.event-type {

     padding: 5px;
     box-shadow: var(--box-shadow-1);
     width: 100%;
     border-radius: 8px;

}