
footer {
     width: 100%;
     height: auto;
     background: var(--black-matte);
     border-top: 1px solid var(--light-gray);
     background: var(--background-gradient-radial-2);
          
}

.making {

     width: 100%;
     height: 50px;
}

.making a {
     color: var(--light-gray);
}

.pasttri-logo {
     height: 25px;

}

.pasttri-logo img {
     height: 100%;
}

.making>span {
     flex-direction: row;
     font-size: small;
     font-family: var(--font-regulat-itim);
     color: var(--light-gray);
}