.create-form {

  background-color: var(--background-color);
  gap: var(--spacing-medium);
  width: 100%;
  max-width: 1300px;
  padding: var(--spacing-medium);
  border-radius: var(--border-radius-big);
  box-shadow: var(--box-shadow);
  border: 1px solid var(--light-gray);
  flex-direction: row;
  flex-wrap: wrap;
  gap: var(--spacing-small);


}

.form-group {

  align-items: flex-start;
  max-width: 600px;
  min-width: 45%;

}

.form-group input,
.form-group textarea,
.form-group select {
  cursor: pointer;
  max-width: 300px;

}

.create-form .form-group label {
  font-size: 1.2rem;
  color: var(--text-color);
}

.button-form {

  flex-direction: row;
  width: 100%;
}

.button-form button {

  align-self: center;


}


.error-msg {
  color: red;
  font-size: 0.9em;
  display: block;
  margin-top: 2px;
  height: 1em;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
  max-width: 16rem;
}

input.error+.error-msg,
textarea.error+.error-msg,
select.error+.error-msg {
  opacity: 1;
}

input.error,
textarea.error,
select.error {
  border-color: red;
  animation: shake 0.2s ease-in-out;
}

@keyframes shake {
  0% {
    transform: translateX(0);
  }

  25% {
    transform: translateX(-4px);
  }

  50% {
    transform: translateX(4px);
  }

  75% {
    transform: translateX(-4px);
  }

  100% {
    transform: translateX(0);
  }
}

form .preview-img {


  aspect-ratio: 100 * 100;
  overflow: idden;
  max-width: 5rem;


}

form .file-Input {

  height: 5rem;

}


/* Estilos base del select */
.custom-select {

  cursor: pointer;
  transition: all 0.3s ease;


  &,
  &::picker(select) {

    appearance: base-select;
    border: none;
    border: 2px solid var(--light-gray);
    border-radius: var(--border-radius-big);

  }

  &::picker(select) {

    opacity: 0;
    height: 0;
    overflow: clip;
    transition:
      0.5s ease-out,
      0.5s ease-out,
      overlay 0.5s,
      0.5s;
    transition-behavior: allow-discrete;
    background: var(--background-color);
    border: 2px solid var(--light-gray);


  }

  &:open::picker(select) {

    opacity: 1;
    height: auto;

    @starting-style {

      opacity: 0;
      height: 0;
    }
  }

}

option {
  color: var(--text-color);
  background: var(--background-color);
  padding: 10px 15px;
  transition: background-color 0.2s ease;


  &:hover {

    background: var(--dark-gray);
    color: var(--neon-cyan);
    border-radius: var(--border-radius-small);
    box-shadow: var(--box-shadow-9);

  }

  &:checked {

    background: var(--dark-gray);
    color: var(--neon-cyan);
    border: 2px solid var(--light-gray);
    border-radius: var(--border-radius-small);
    box-shadow: var(--box-shadow-8);
  }


}

.form-group input[type="checkbox"] {
  
  width: auto;
  border-radius:50px;
 
}
.form-group.flex-container:has(input[type="checkbox"]) {
  flex-direction:row;
 
}



