.create-form {

  background-color: var(--background-color);
  gap: var(--spacing-medium);
  width: 100%;
  max-width: 1300px;
  padding: var(--spacing-medium);
  border-radius: var(--border-radius-big);
  box-shadow: var(--box-shadow);
  border: 1px solid var(--light-gray);
  flex-direction: row;
  flex-wrap: wrap;

  /* 
    [data-theme="dark"] & {

        background-color: var(--black-matte);
        
      } */
}

.form-group {

  align-items: flex-start;

  max-width: 600px;
  min-width: 45%;

}

.form-group input {

  width: 100%;
}

.create-form .form-group label {
  font-size: 1.2rem;
  color: var(--text-color);
}

.button-form {


  width: 100%;
}

.button-form button {

  align-self: center;


}


.error-msg {
  color: red;
  font-size: 0.9em;
  display: block;
  margin-top: 2px;
  height: 1em;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
}

input.error+.error-msg,
textarea.error+.error-msg,
select.error+.error-msg {
  opacity: 1;
}

input.error,
textarea.error,
select.error {
  border-color: red;
  animation: shake 0.2s ease-in-out;
}

@keyframes shake {
  0% {
    transform: translateX(0);
  }

  25% {
    transform: translateX(-4px);
  }

  50% {
    transform: translateX(4px);
  }

  75% {
    transform: translateX(-4px);
  }

  100% {
    transform: translateX(0);
  }
}