header {

     position: fixed;
     top:0;
     height: 200px;
     width: 100%;
     z-index: 100;
     border-bottom: 1px solid var(--light-gray);
     background-color:var(--black-matte);
     color:var(--light-gray);
     box-shadow:var(--box-shadow-6);
    
}

.logo {
     position: absolute;
     width: 190px;
     height: 190px;
     z-index: -1;
     opacity: .2;
    
}


.menu-header-web,
.menu-header-web li{

     flex-direction: row;
     padding: var(--spacing-medium);
}

.menu-header-web div {

     width: 50px;
     height: 50px;
     border: 2px solid var(--light-gray);
     border-radius: 50%;
     &:hover{

          border: 3px solid var(--light-gray);
     }
    
}

.menu-header-web img {
     padding: 3px;
     width: 100%;
     height: 100%;
     border: 2px solid var(--neon-magenta);
     border-radius: 50%;

     &:hover {
     
               border: 3px solid var(--neon-cyan);
               box-shadow: var(--box-shadow-5);
          }
     
}

.menu-header-web p{
  
&:hover {

          color:var(--neon-cyan);
          text-shadow:var(--box-shadow-5);
          
     }

}



