.miniature-img {

     width: 8rem;
     height: 8rem;
     padding: var(--spacing-small);
     /* overflow: hidden; */

}

.miniature-img img {


     border: 1px solid var(--neon-cyan);
     width: 100%;
     border-radius: var(--border-radius);

     width: 100%;
     height: 100%;
     object-fit: cover;
     /* object-position: center; */

}



.select-card {

     backdrop-filter: blur(90px);
     background-color: var(--background-color-transparent);
     color: var(--text-color);
     width: 100%;
     padding: var(--spacing-medium);
     height: auto;
     border-radius: var(--border-radius-big);
     font-family: var(--font-regulat-outfit);
    

}

.grid-events {

     width: 100%;
     border-radius: var(--border-radius-big);
     padding: var(--spacing-small) 0;
     max-height:fit-content;

}

.grid-events.info-content {

     overflow: inherit;
     margin-bottom: 70px;
     height: fit-content;


}

.select-title {

     font-family: var(--font-regulat-outfit);
     font-weight: bold;
     text-align: center;
     flex-direction: column;
     flex-direction: row;
     justify-content: space-between;
     font-size: 1.3rem;


}

.select-title h3 {

     width: 70%;
     padding: var(--spacing-medium);

}

.icon-row {
     display: flex;
     align-items: center;
     gap: 0.5rem;
     margin-bottom: 0.5rem;
}

.icon-row i {
     color: var(--color-icon);
     font-size: 1.5rem;
     background: var(--background-gradient-radial-3);
     border-radius: 999%;
     width: auto;
     height: auto;
     padding: 0 6px;
     border: 1px solid var(--background-color-transparent)
}


.event-map-group {
     
     width: 100%;
     max-width: 500px;
     margin-top: 24px;
     flex-direction: column;
     align-items: center;
     gap: 2px;
     border-radius:12px;
     box-shadow: var(--box-shadow);
     

}


.event-map {
     width: 100%;
     max-width: 500px;
     border-radius: 12px;
     overflow: hidden;
     aspect-ratio: 16/11;
     
}


.maps-link {
     font-size: 1rem;
     font-weight: 600;
     color: var(--neon-yellow);
     text-decoration: none;
     transition: color 0.2s ease;
     padding-bottom: 15px;
}

.maps-link:hover {
     color: var(--text-color);
     text-decoration: underline;
}


.action-container {
     width: 100%;
     flex-direction: row;
     padding-top: var(--spacing-small);
     border-radius: var(--border-radius-small);

}

button i {

     font-size: 1.5rem;
     color: var(--text-color);

     &:hover {

          color: var(--neon-cyan);
     }

}

.action-container button {

     border: 1px solid var(--neon-cyan);
     padding: 5px 15px;
     width: 7rem;
     height: 3rem;
     cursor: pointer;

}