
.miniature-img {

     width: 25%;
     padding-left: 25px;
     padding: var(--spacing-small);

}

.miniature-img img {


     border: 1px solid var(--neon-cyan);
     width: 100%;
     border-radius: var(--border-radius);
}

.select-card {

     backdrop-filter: blur(90px);
     background-color: var(--background-color-transparent);
     color: var(--text-color);
     width: 100%;
     padding: var(--spacing-medium);
     height: auto;
     border-bottom-left-radius: var(--border-radius-big);
     border-bottom-right-radius: var(--border-radius-big);
}

.grid-events {

     width: 100%;

}

.select-title {

     font-family: var(--font-regulat-outfit);
     font-weight: bold;
     text-align: center;
     flex-direction: column;
     flex-direction: row;
     justify-content: space-between;
     font-size: 1.3rem;


}

.select-title h3 {

     width: 70%;
     padding: var(--spacing-medium);

}

.icon-row {
     display: flex;
     align-items: center;
     gap: 0.5rem;
     margin-bottom: 0.5rem;
}

.icon-row i {
     color: var(--text-color);
     font-size: 1.5rem;
}