.grid-main {

     position:relative;
     margin-top: 200px;
     width: 100%;
     max-width: 1200px;
     display: grid;
     grid-template-rows: 2fr;
     grid-template-columns: 2fr 1fr;
     gap: 8px;
     padding: 0 var(--spacing-large);
     border-top-left-radius:var(--border-radius-big);
     border-top-right-radius:var(--border-radius-big);
     background: var(--background-color-transparent);
     backdrop-filter:blur(50px);
}

.grid-main section {
     
    
     height: max-content;
     padding:var(--spacing-little-bit) 0;
     margin: var(--spacing-large) 0;
     margin-bottom: 100px;
     background: var(--background-gradient-radial-1);
     border-radius: var(--border-radius-big);
     max-height: 100vh;
     flex-wrap: nowrap;
     justify-content: flex-start;
             
}

.grid-events, .div-passes {
     
          overflow-y: auto;
               scroll-behavior: smooth;
               scrollbar-width: thin;
               scrollbar-color: var(--neon-magenta) transparent;
               scrollbar-gutter: stable both-edges;
               max-height: 100vh;
               flex-wrap: nowrap;
               justify-content: flex-start;
             
            

}


