.grid-main {

     position: relative;
     margin-top: 200px;
     width: 100%;
     max-width: 1300px;
     max-height: 150dvh;
     min-height: 70dvh;
     display: grid;
     grid-template-columns: repeat(3, 1fr);
     grid-template-rows: repeat(2, 1fr);
     grid-template-areas:
          "area1 area1 area2"
          "area1 area1 area3";
   
     align-items: flex-start;
     gap: 8px;
     padding: var(--spacing-large) var(--spacing-little-bit) var(--spacing-little-bit) var(--spacing-small);
     border-top-left-radius: var(--border-radius-big);
     border-top-right-radius: var(--border-radius-big);
     background: var(--background-color-transparent);
     backdrop-filter: blur(50px);

}

.events-section{
     
     grid-area: area1;

}
.info-section{

     grid-area: area2;
}
.info-grid-section{

     grid-area: area3;
}

.grid-main section {
     cursor:pointer;
     width: 100%;
     height: 100%;
     padding: var(--spacing-little-bit);
     background: var(--background-gradient-radial-1);
     border-radius: var(--border-radius-big);
     flex-wrap: nowrap;
     justify-content: flex-start;

     &:hover {
     
               box-shadow: var(--hover-shadow);
               border: 3px solid var(--neon-cyan);
          }

}

.grid-events {

     min-height: 40dvh;
     overflow-y: auto;
     scroll-behavior: smooth;
     scrollbar-width: thin;
     scrollbar-color: var(--neon-magenta) transparent;
     /* scrollbar-gutter: stable both-edges; */
}


.grid-events,
.div-passes,
.div-grid-passes {

     flex-wrap: nowrap;
     justify-content: flex-start;

}

.grid-events img,
.div-passes img,
.div-grid-passes img {

     
     height: auto;
     

}