

.active-route li .item-text{

   color:var(--neon-cyan);

}

.active-route li .item-icon{

     border: 3px solid var(--neon-cyan);
     background: var(--neon-purple);
}
.active-route{

     border-top-right-radius:var(--border-radius-big); border-bottom-right-radius:var(--border-radius-big);
     border-right: 3px solid var(--neon-cyan);
    
}

li .item-text {

     transition: .2s;
     font-family: var(--font-regulat-outfit);

     &:hover {
     
               color: var(--neon-cyan);
               text-shadow: var(--box-shadow-5);
     
          }
}