
.logo img {

     height: 70%;
     aspect-ratio: 16 / 16;
     cursor:pointer;
}


.logo {
     position: absolute;
     left: 25px;
     margin: 25px 0;
     width: 110px;
     height: 110px;
     border-radius: 200%;
     box-shadow: var(--box-shadow-4);
     background: var(--background-gradient-radial-1);
     cursor: pointer;

}

/* ===================== MEDIA QUERIES LOGO ===================== */

/* Tablet */
@media (max-width: 1024px) {
     .logo {
          width: 90px;
          height: 90px;
          left: 20px;
          margin: 15px 0;
     }
}

/* Móvil */
@media (max-width: 768px) {
     .logo {
          position: static;
          width: 55px;
          height: 55px;
          margin: 0;
          flex-shrink: 0;
     }
}

/* Móvil pequeño */
@media (max-width: 480px) {
     .logo {
          width: 45px;
          height: 45px;
     }
}