

.message-container {
     
     padding: 2rem;
     width: max-content;
     height: auto;
     background: var(--background-color);
     position: absolute;
     z-index: 999;
     border-radius: var(--border-radius-small);
     box-shadow: var(--box-shadow);
     border: 3px solid var(--neon-purple); 
     opacity: 1;
     transition: opacity 0.5s ease;
     
}

.message-container p {

     color: var(--text-color);
     font-family: var(--font-regulat-outfit);
     font-size: 1rem;
}

.message-container  .hide {
     opacity: 0;
    
   
}

.message-container .success {
     background-color: #d4edda;
     color: #155724;
     border: 3px solid #c3e6cb;
}

.message-container .error {
     background-color: #f8d7da;
     color: #721c24;
     border: 3px solid #f5c6cb;
}