

.message-container {
     position: absolute;
     backdrop-filter: blur(15px);
     padding: 2rem;
     width: max-content;
     height: auto;
     background: var(--background-color-transparent);
     z-index: 999;
     border-radius: var(--border-radius-small);
     box-shadow: var(--box-shadow);
     transition: opacity 0.5s ease-in-out, transform 0.5s ease-in-out;
     opacity: 1;
     transform: translateY(0);
     gap: 30px;

}

.message-container.hide {
     opacity: 0;
     transform: translateY(20px);
}

.message-container p {

     color: var(--text-color);
     font-family: var(--font-regulat-outfit);
     font-size: 1.2rem;
}

.success {
   
     border: 3px solid var(--neon-cyan);
}

.error {
    
     border: 3px solid var(--neon-magenta);
}