
.menu-lateral {

     position:fixed;
     top: 0;
     z-index: 10;
     padding: var(--spacing-large) ;
     background-color:var(--dark-gray);
     height: 100vh;
     width: min-content;
     box-shadow: var(--box-shadow-1);
     border-right: 1px solid var(--light-gray);
     display:none;
}