


.ticket-qr-container {
     text-align: center;
     padding-top:  var(--spacing-medium);
     border-top: 1px dashed var(--light-gray);
}

.ticket-qr {
     width: 150px;
     height: 150px;
     display: block;
     margin: 0 auto 10px;
}

.qr-caption {
     font-size: 0.8em;
     color: var(--light-gray);
     margin-top: 5px;
}

.ticket-image-container {
 
     width: 100%;
     background:green;
     height: 10rem;
     background-size:cover;
     background-position:center;
     filter:grayscale(1);
     border-top-left-radius:var(--border-radius-small);
     border-top-right-radius:var(--border-radius-small);
     margin-bottom: var(--spacing-medium);
}

.event-ticket {

     background:var(--background-color);
}



